RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

#RewriteRule ^/about/disclosure/$ /about/disclosure/corporation/ [R=301,L]

RedirectMatch 301 ^/about/disclosure/$ /about/disclosure/corporation/
RedirectMatch 301 ^/about/$ /about/vcard/
RedirectMatch 301 ^/about/press/$ /about/press/news/
RedirectMatch 301 ^/about/press/news/show_317/$ /about/press/news/
RedirectMatch 301 ^/business/crediting/$ /business/crediting/smallbusiness/
RedirectMatch 301 ^/business/currency/$ /business/currency/services/
RedirectMatch 301 ^/business/deposit/$ /business/deposit/all/
RedirectMatch 301 ^/business/$ /business/cashservice/
RedirectMatch 301 ^/business/remoteservice/$ /business/remoteservice/bankclient/
RedirectMatch 301 ^/partnership/$ /partnership/travel/
RedirectMatch 301 ^/personal/cards/$ /personal/cards/depositcard/
RedirectMatch 301 ^/personal/cashservice/$ /personal/cashservice/rubles/
RedirectMatch 301 ^/personal/crediting/$ /personal/crediting/turpaket/
RedirectMatch 301 ^/personal/holdings/all/show_26/$ /personal/holdings/all/
RedirectMatch 301 ^/personal/holdings/$ /personal/holdings/all/
RedirectMatch 301 ^/personal/$ /personal/holdings/
RedirectMatch 301 ^/moneyorders/$ /personal/moneyorders/all/
RedirectMatch 301 ^/remoteaccess/$ /personal/remoteaccess/bankclient/